@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

button {
  /*z-index: 2;*/
  position: absolute;
  border-radius: 30px;
  border: 50px;
  color:black;
  background-color: white;
  border-color: white;
  padding: 10px 10px;
  left: 5vw;
  font-size: 40px;
}

button:hover {
  background-color: rgb(233, 233, 233);
  border-color: rgb(233, 233, 233);
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

card {
  /*only shows when button is active*/
  width: 0;
  height: 0;
}

card.button{
  /* */
}
