@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}


#link {
  left: 80vw;
  top: 90vh;
  background: linear-gradient(to bottom, #f39090, #ecee7e);
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(105, 103, 103);
  font-size: 25px;
};

#cleanText:hover {
  color: rgb(125, 185, 125);
}

#pollutedText:hover {
  color: rgb(230, 130, 130);
}

.pollutionText {
  font-size: 30px;
  color: rgb(255, 241, 241);
  position: absolute;
  left: 10vw;
  top: 4vh;
}




button {
  /*z-index: 2;*/
  position: absolute;
  border-radius: 30px;
  border: 50px;
  color: black;
  background-color: white;
  border-color: white;
  padding: 10px 10px;
  left: 5vw;
  font-size: 40px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(233, 233, 233);
  border-color: rgb(233, 233, 233);
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}



